.case-format {
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

.case-format img {
    width: 128px;
    height: 88px;
}

.case-format:hover { 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}