<div>
    
    
    
        <img src="cases/@CaseImagePath" width="256px"/>
        <h3>@CaseName</h3>
    <h3 style="background-color: limegreen; width: fit-content">@CasePrice</h3>
</div>
@code {
    [Parameter]
    public string CaseName { get; set; }
    
    [Parameter]
    public string CaseImagePath { get; set; }
    
    [Parameter]
    public double CasePrice { get; set; }
    
}