@inject NavigationManager Navigation

<div @onclick="NavigateToCase" style="cursor: pointer; width: fit-content">
        <img src="cases/@CaseObject.CaseImage" width="256px"/>
        <h3>@CaseObject.CaseName</h3>
    <h3 style="background-color: limegreen; width: fit-content">@CaseObject.CasePrice</h3>
</div>
@code {
    [Parameter]
    public required Case CaseObject { get; set; }
    
    
    private void NavigateToCase()
    {
        Navigation.NavigateTo($"/caseview/{CaseObject.CaseId}");
    }
}