@using S5_01_Blazor_CS_GOAT.Models
@inject NavigationManager Navigation

<div class="case-format" @onclick="NavigateToCase">
    <img src="cases/@CaseObject.CaseImage"/>
    <h3>@CaseObject.CaseName | @CaseObject.CasePrice€</h3>
</div>

@code {
    [Parameter]
    public required Case CaseObject { get; set; }
    
    
    private void NavigateToCase()
    {
        Navigation.NavigateTo($"/caseview/{CaseObject.CaseId}");
    }
}