#weapon-container {
    height: 100px;
}

#weapon-rarity {
    height: 10px;
    width: 10px;
}

#weapon-img {
    width: 100px;
    height: 100px;
}
.letsgo-gambling {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.weapon-showcase {
    width: 44px;
    height: 44px;
    background-color: #292937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.weapon-showcase::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
    transparent,
    transparent 30%,
    var(--rarity-color, rgba(249, 158, 28, 0.3)));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.weapon-showcase:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--rarity-color, rgba(249, 158, 28, 0.5));
}

.weapon-showcase:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}
