@page "/"
@using S5_01_Blazor_CS_GOAT.Service
@inject IService<Case> caseRepository





<PageTitle>Home</PageTitle>


@* <div class="bg-dark" id="home-container"> *@
<Header>
    <div style="color: white">
        @if (cases.Count == 0)
        {
            <p><em>Loading...</em></p>    
        } else
        {
            @foreach (Case singleCase in cases) {
                <CaseComponent CaseObject="@singleCase"></CaseComponent>
            }
        }
    </div>
</Header>



@* </div> *@

@code {
    private List<Case> cases = new List<Case>();
    protected override async Task OnInitializedAsync()
    {
        cases = await caseRepository.GetAllAsync();
        Console.WriteLine(cases);
    }
}
