@page "/"
@using S5_01_Blazor_CS_GOAT.Service
@inject IService<Case> caseRepository





<PageTitle>Home</PageTitle>


@* <div class="bg-dark" id="home-container"> *@
<Header>
    <div style="color: white">
        @if (cases.Count == 0)
        {
            <p><em>Loading...</em></p>    
        } else
        {
            @foreach (Case singleCase in cases) {
                <CaseComponent CaseName="@singleCase.CaseName" CaseImagePath="@singleCase.CaseImage" CasePrice="@singleCase.CasePrice"></CaseComponent>
            }
        }
    </div>
</Header>



@* </div> *@


<style>
    #home-container {
        height: 100vh;
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
        /*align-items: center;*/
        
    }
    
</style>

@code {
    private List<Case> cases = new List<Case>();
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("aaaaaaaa");
        cases = await caseRepository.GetAllAsync();
        Console.WriteLine(cases);
    }
}
