@page "/"






<PageTitle>Home</PageTitle>


<div class="bg-dark" style="height: 100vh">
<Header></Header>


</div>
@code {

    protected override async Task OnInitializedAsync()
    {
        
    }
}
