@page "/"
@using S5_01_Blazor_CS_GOAT.Service
@inject IService<Case> caseRepository





<PageTitle>Home</PageTitle>


@* <div class="bg-dark" id="home-container"> *@
    <Header>
        aaaaa
    </Header>
@* </div> *@


<style>
    #home-container {
        height: 100vh;
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
        /*align-items: center;*/
        
    }
    
</style>

@code {

    protected override async Task OnInitializedAsync()
    {
        
    }
}
