<div class="reglementary-info">
    <p>Mentions Légales</p>
    <p>Politique de Confidentialité</p>
    <p>Conditions Générales de Vente</p>
    <p>Jeu Responsable</p>
    <p>© 2024 CS:GOAT. Tous droits réservés.</p>
</div>