<div class="bg-dark" id="header-container">
    <div>
        <div id="header-top-div">
            <div id="header-left-div">
                <img src="csgoat_images/Text_White_Color.png" id="header-logo"/>
                <svg xmlns="http://www.w3.org/2000/svg" id="online-players-logo" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wifi-icon lucide-wifi"><path d="M12 20h.01"/><path d="M2 8.82a15 15 0 0 1 20 0"/><path d="M5 12.859a10 10 0 0 1 14 0"/><path d="M8.5 16.429a5 5 0 0 1 7 0"/></svg>
            </div>
            <div id="header-right-div">
                <div class="bg-black text-white" id="connexion-button">CONNEXION</div>
            </div>
        </div>
        <div id="header-bottom-div">
            <div class="button-bottom-div">Accueil</div>
            <div class="button-bottom-div">Caisses</div>
            <div class="button-bottom-div">Améliorer</div>
            <div class="button-bottom-div">Inventaires</div>
            <div class="button-bottom-div">Historique</div>
        </div>
    </div>
    
    <div style="display: flex; flex-direction: row; height: 100%; width: 100%; position: relative">

        <div id="left-weapon-bar"> 
            <div style="color: white">arme</div>
            <div style="color: white">arme</div>
            <div style="color: white">arme</div>
            <div style="color: white">arme</div>
        </div>
        
        <div style="padding-left: 10%; width: 100%; height: 100%">
        @ChildContent
        </div>

    </div>
</div>



<style>
    
    /** {*/
    /*    position: fixed;*/
    /*}*/
    
    #header-logo {
        width: 60%;
    }
    
    #online-players-logo {
        transform: rotate(45deg);
    }
    
    #header-container{
        display: flex;
        position: fixed;
        z-index: 999;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    #header-left-div {
        display: flex;
        align-items: center;
        width: 50%;
    }
    
    #header-right-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    
    #connexion-button {
        height: 50%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*TODO MAKE THIS RESPONSIVE */
        font-size: 2em;
    }
    
    #header-top-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75%;
        padding-bottom: 5px;
    }

    #header-bottom-div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 25%;
        font-size: 1.5em;
        color: white;
    }
    
    .button-bottom-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: black;
        border: white 2px solid;
    }
    
    #left-weapon-bar {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        width: 10%;
        position: fixed;
        /*TODO MAKE THIS RESPONSIVE */
        height: 100%;
        background-color: black;
    }
    
</style>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}