/*All Elements*/


/*Start Header*/
.first-head {
    display: flex;
    align-items: center;
}

.logo-csgoat img {
    margin: 10px 40px 10px 0;
    height: 60px;
    width: auto;
}

.svg-online {
    display: flex;
    align-items: center;
}

.svg-online svg{
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
}

.svg-online p {
    color: white;
    font-size: 1.2em;
    margin: 0 40px 0 0;
}

.navigation-links {
    margin: 10px 10px 10px 0;
}

.navigation-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.style-btn {
    margin: 10px 10px 10px 0;
    display: flex;
}

.style-btn svg {
    height: 40px;
    width: 40px;
    margin: 0 10px 0 0;
}

.style-btn button {
    all: unset;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

hr {
    border: 2px solid #FFF;
    opacity: 1;
}
/*End Header*/

/* Start Main Content */
.main-content {
    display: flex;
}
/* End Main Content */


/*Start Live Feed*/
.live-feed {
    border: 1px solid white;
    margin: 10px 0 0 0;
    width: fit-content;
    height: 100%;
    margin: 0 20px 0 0;
}

.select-feed {
    display: flex;
}

.feed-best svg, .feed-all svg {
    height: 20px;
    width: 20px;
    margin: 5px 20px;
}

.live-feed p {
    color: white;
    font-size: 0.9em;
}

.armes {
    width: 100px;
    border: 1px solid white;
    margin: 1px 5px 1px 5px;    
}
/*End Live Feed*/

/*Start Display Area*/
.display-area {
    flex: 1; /* Ensures it takes the remaining width */
    height: 100%; /* Ensures it takes the full height */
    overflow: auto; /* Optional: Adds scroll if content overflows */
}
/*End Display Area*/


/*#header-logo {
    width: 60%;
}

#online-players-logo {
    transform: rotate(45deg);
}

#header-container {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#header-left-div {
    display: flex;
    align-items: center;
    width: 50%;
}

#header-right-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#connexion-button {
    height: 50%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*TODO MAKE THIS RESPONSIVE */
    /*font-size: 2em;
}

#header-top-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    padding-bottom: 5px;
}

#header-bottom-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    font-size: 1.5em;
    color: white;
}

.button-bottom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    border: white 2px solid;
}

#left-weapon-bar {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 10%;
    position: fixed;
    /*TODO MAKE THIS RESPONSIVE */
    /*height: 100%;
    background-color: black;
}