.header-menu { 
    display: flex;
    justify-content: space-between;
}

hr {
    border: 2px solid #FFF;
    opacity: 1;
}

/* Ensure the main layout occupies the full viewport and disables scrolling */
.main-header {
    height: 100vh;
    overflow: hidden;
}

.container-page {
    padding: 0 0 0 10px;
    position: absolute;
    left: 120px;
    top: 97.5px;
    width: calc(100vw - 130px); /* Prend tout l'espace horizontal restant */
    height: calc(100vh - 97.5px); /* Prend tout l'espace vertical restant */
}

/* Allow only the article element to scroll */
article {
    height: 100%;
    overflow-y: auto;
}