@inherits LayoutComponentBase
<div class="main-header">
    <div class="header-layout">
        <div class="header-menu">
            <NavMenu />
            <ConnectMenu />
        </div>
        <hr>
        <LiveFeed />
    </div>

    <main>
        <article class="container-page">
            @Body
            <FooterLayout />
        </article>
    </main>
</div>
