.header-nav-csgoat {
    display: flex;
}

/*header logo Start CSS*/
.container-logo-csgoat {
    display: flex;
    align-items: center;
}

.logo-csgoat img {
    margin: 10px 40px 10px 0;
    height: 60px;
    width: auto;
}

.svg-online {
    display: flex;
    align-items: center;
}

.svg-online svg{
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
}

.svg-online p {
    color: #fff;
    font-size: 1.2em;
    margin: 0 40px 0 0;
}
/*header logo End CSS*/


/*NavLink Start CSS*/
.navigation-links {
    margin: 10px 10px 10px 0;   
    display: flex;
    justify-content: center; /* Center horizontally */
}

.container-nav { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link, .nav-link span, .navigation-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}
/*NavLink End CSS*/