name: Deploy Blazor to Azure

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Publish ONLY Blazor Project
        run: dotnet publish S5_01_Blazor_CS_GOAT/S5_01_Blazor_CS_GOAT.csproj -c Release -o ./published

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: blazor-app
          path: ./published/wwwroot

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: blazor-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'blazorcsgoat'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_7F9E85A1AA744ABEBECAFB00415B4D78 }}
